<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.startach.yedidim">

    <application>
        <activity
            android:name="com.startach.TestActivity"
            android:label="TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


</manifest>
